
.home{
    
    
}

.back {

    width: 100%;
    height: 100%;
    background: url(./image/Stack-of-books-with-glasses-on-wooden-desk-Top.jpg) 0 40%/cover no-repeat border-box content-box teal;
    /*( background-size: cover;
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: content-box;
    background-attachment: fixed;
    background-color: teal;*/
    box-sizing: content-box;
    /* border: 10px dashed black; */
    margin: 0px;
    padding: 0px; 

}
