
.form-size {
    display: grid;
    width: 50%;
}

.form {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #f39c12;
    text-align: center;
    border: 2px solid red;
}